# Mailu configuration file template - Used by master_installer.sh

###################################
# Common configuration variables
###################################
# These are set by the installer
SECRET_KEY=${SECRET_KEY}
DOMAIN=${MAILU_DOMAIN}
HOSTNAMES=${MAILU_HOSTNAMES}
POSTMASTER=${MAILU_POSTMASTER}
API_TOKEN=${API_TOKEN}
WEBSITE=${WEBSITE}
SITENAME=${SITENAME}

# Default settings
SUBNET=192.168.203.0/24
TLS_FLAVOR=letsencrypt
AUTH_RATELIMIT_IP=5/hour
AUTH_RATELIMIT_USER=50/day
DISABLE_STATISTICS=True

###################################
# Optional features
###################################
ADMIN=true
WEBMAIL=roundcube
API=true
WEBDAV=none
ANTIVIRUS=none

###################################
# Mail settings
###################################
MESSAGE_SIZE_LIMIT=50000000
DMARC_RUA=${POSTMASTER}
DMARC_RUF=${POSTMASTER}
RECIPIENT_DELIMITER=+
WELCOME=false
WELCOME_SUBJECT=Welcome to your new email account
WELCOME_BODY=Welcome to your new email account, if you can read this, then it is configured properly!

###################################
# Web settings
###################################
WEBROOT_REDIRECT=/webmail
WEB_ADMIN=/admin
WEB_WEBMAIL=/webmail
WEB_API=/api

###################################
# Advanced settings
###################################
COMPOSE_PROJECT_NAME=mailu
CREDENTIAL_ROUNDS=12
LOG_LEVEL=INFO
TZ=Etc/UTC